/*MOBILE VIEW*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  background-color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.nav-logo {
  width: 10em;
  height: 2em;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.nav-links,
.login {
  display: none;
}

.home-page {
  color: white;
  background-color: black;
  background-image: url("/assets/images/SVG\ by\ MagicPattern.design\ \(2\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 1150px;
}

.home-page-content {
  margin-top: 3em;
}

.header-text {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

.header-sub-text {
  text-align: center;
}

.homepage-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.free-trial-button {
  width: 100%;
  background: linear-gradient(229.46deg, #673AB7 0%, #4B03CD 86.82%);
  font-size: 17px;
  line-height: 29.05px;
  text-align: center;
  color: white;
  border-radius: 17px;
  font-family: "Poppins", serif;
}

.github-button {
  margin-top: 1em;
  width: 100%;
  border: 1px solid #828282;
  backdrop-filter: blur(10px);
  background: inherit;
  font-family: "Poppins", serif;
  font-size: 17px;
  line-height: 29.05px;
  text-align: center;
  border-radius: 17px;
  color: white;
}

.homepage-img-container {
  margin-top: 2em;
}

.homepage-img {
  width: 100%;
  height: 300px;
  border: 1px solid #828282;
  border-radius: 12px;
}

.below-home {
  margin-top: 2em;
}

.below-home-text {
  color: white;
  font-size: 20px;
  line-height: 1.5em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.below-home-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.google-icon {
  width: 120px;
  height: 50px;
}

.amazon-icon {
  margin-top: 1em;
  width: 150px;
  height: 60px;
}

.bytedance-icon {
  width: 300px;
  height: 60px;
}

.collect-organize {
  background-image: url("/assets/images/c&oSVG\ by\ MagicPattern.design.png");
  background-size: cover;
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  text-align: center;
}

.collect-button {
  border: 2px solid;
  background: linear-gradient(121.75deg, rgba(236, 200, 200, 0.2) 0.95%, rgba(0, 0, 0, 0.12) 37.87%, rgba(255, 255, 255, 0.02) 84.35%);
}

.service-text {
  text-align: left;
}

.service-heading {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin-top: 1em;
}

.mark-up {
  width: 3em;
  height: 2em;
}

.list-item {
 display: flex;
}

.section-header {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 105px;
  text-align: center;
}

.third-section-content {
  margin-top: -1.5em;
}

.first-box {
  margin-bottom: 1.5em;
}

.box-1 {
  width: 100%;
  height: 100%;
}

/*TABLET VIEW*/
@media screen and (min-width: 768px) {
  
}
/*DESKTOP VIEW*/
@media screen and (min-width: 1024px) {
  
}
