/* MOBILE VIEW */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.nav-logo {
  width: 150px;
  height: 2em;
}

.nav-links,
.login {
  display: none;
}

.home-page {
  color: white;
  background: black url("/assets/images/Homepage-SVG\ by\ MagicPattern.design.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 1700px;
}

.home-page-content {
  margin-top: 3em;
}

.header-text {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  font-family: 'poppins', serif;
  overflow-y: hidden;
}

.header-sub-text {
  text-align: center;
  font-family: 'poppins', serif;
}

.homepage-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.free-trial-button {
  width: 100%;
  background: linear-gradient(229.46deg, #673ab7 0%, #4b03cd 86.82%);
  font-size: 17px;
  line-height: 29.05px;
  text-align: center;
  color: white;
  border-radius: 17px;
  font-family: "Poppins", serif;
}

.github-button {
  margin-top: 1em;
  width: 100%;
  border: 1px solid #828282;
  backdrop-filter: blur(10px);
  background: inherit;
  font-family: "Poppins", serif;
  font-size: 17px;
  line-height: 29.05px;
  text-align: center;
  border-radius: 17px;
  color: white;
}

.homepage-img-container {
  margin-top: 2em;
}

.homepage-img {
  width: 100%;
  height: 300px;
  border: 1px solid #828282;
  border-radius: 12px;
}

.below-home {
  margin-top: 1em;
}

.below-home-text {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.bytedance-icon-container {
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

.below-home-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.google-icon {
  width: 120px;
  height: 50px;
}

.amazon-icon {
  margin-top: 1em;
  width: 130px;
  height: 50px;
}

.bytedance-icon {
  width: 360px;
  height: 40px;
}

.collect-button {
  border: 2px solid;
  background: linear-gradient(121.75deg, rgba(236, 200, 200, 0.2) 0.95%, rgba(0, 0, 0, 0.12) 37.87%, rgba(255, 255, 255, 0.02) 84.35%);
}

.service-heading {
  font-family: 'poppins', serif;
  font-size: 22px;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-top: 1em;
}

.service-img {
  margin-top: 1em;
  width: 100%;
  height: 17em;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
}

.service-text {
  margin-top: -1em;
}

.mark-up {
  width: 3em;
  height: 2em;
}

.list-item {
  display: flex;
}

.section-header {
  font-family: 'poppins', serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5em;
  text-align: center;
  margin: 60px 0;
}

.third-section {
  margin-top: -100px;
}

.third-section-content {
  margin-top: -45px;
  padding: 0 3em;
}

.first-box {
  margin-bottom: 1.5em;
}

.box-1 {
  width: 100%;
  height: 100%;
}

.fourth-section-header {
  font-family: 'poppins', serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  height: 2em;
}

.personal-use-box {
  background: linear-gradient(225deg, #673ab7 0%, #3a00a2 100%);
  width: 12em;
  height: 8em;
  margin-bottom: 2em;
}

.person-vector {
  width: 3em;
  height: 3em;
}

.lightbulb-vector {
  width: 2em;
  height: 2.5em;
}

.research-vector {
  width: 3em;
  height: 2.5em;
}

.design-inspirations-box,
.research-box,
.project-box {
  width: 12em;
  height: 8em;
  border: 1px solid white;
  margin-bottom: 2em;
}

.project-vector {
  width: 3em;
  height: 2.5em;
}

.text-align-center {
  text-align: center;
}

.bookmark-img {
  width: 2.5em;
  height: 2.5em;
}

.bookmark-vector {
  width: 5em;
  height: 5em;
  background: linear-gradient(121.75deg, rgba(236, 200, 200, 0.2) 0.95%, rgba(0, 0, 0, 0.12) 37.87%, rgba(255, 255, 255, 0.02) 84.35%);
  border: 1px solid;
  border-color: white;
}

.bookmark-text {
  text-align: center;
}

.bookmark-organization {
  display: grid;
  grid-template-columns: 1fr;
}

.fourth-section {
  margin-bottom: -5em;
}

.discount-plan {
  position: relative;
  height: 70px;
  width: 300px;
  padding-bottom: -5em;
}

.pricing-tags {
  width: 250px;
  height: 2em;
  border: 1px solid gray;
  display: flex;
  align-items: stretch;
  padding: 3px;
  margin-top: 2em;
}

.monthly {
  background-color: #4a46fc;
  width: 50%;
  text-align: center;
}

.yearly {
  width: 50%;
  text-align: center;
}

.discount-label {
  background-color: #f10000;
  width: fit-content;
  padding: 1px 9px;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-size: 13px;
  position: absolute;
  top: 25px !important;
  right: 8px !important;
  rotate: 30deg;
}

.heading-5th-section {
  color: white;
  font: 700 25px/1.3em;
  text-align: center;
  overflow: hidden;
}

.box1-of-fifth {
  height: 400px;
  border-radius: 17px;
  border: 1px solid #92818180;
  text-align: center;
}

.self-hosted {
  color: #79c5fc;
  font-family: "poppins", serif;
  margin-top: 50px;
}

.free {
  color: white;
  font: 300 28px/1.2em;
  font-family: 'poppins', serif;
  overflow: hidden;
}

.get-started-button {
  border: 1px solid #ecc8c880;
  width: 14em;
  height: 2em;
  margin-top: 10px;
  background: inherit;
  border-radius: 20px;
  color: white;
}

.description {
  color: white;
}

.plan-description {
  text-align: left;
}

.tick-img {
  width: 2em;
  height: 2em;
}

.box2-of-fifth {
  background: url("/assets/images/Rectangle\ 1.png") center no-repeat;
  background-size: contain;
  width: 320px;
  height: 700px;
  position: relative;
  margin-top: -5em;
  margin-bottom: -5em;
}

.cloud {
  color: #79c5fc;
  font: 20px/1.2em;
  font-family: 'poppins', serif;
  overflow: hidden;
}

.per-user {
  margin-top: -0.5em;
}

.get-started-button_box-two {
  border-radius: 18px;
  width: 14em;
  margin-top: 1em;
  height: 2em;
  background: linear-gradient(225deg, #9763f4 0%, #3a00a2 100%);
  color: white;
}

.free-trial {
  color: white;
}

.box-2-content {
  position: absolute;
  top: 10em;
  left: auto;
  right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box3-of-fifth {
  height: 500px;
  border-radius: 17px;
  border: 1px solid #92818180;
  text-align: center;
}

.billing-plan {
  padding-top: 4em;
}

.sixth-section {
  width: 100%;
  height: 820px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sixth-section-header {
  font: 700 25px/1.5em;
  font-family: 'poppins', serif;
  color: white;
  overflow: hidden;
}

.reach-out {
  color: white;
  margin-top: 1em;
  overflow: hidden;
}

.line {
  margin-right: 5em;
}

.questions-box {
  background: url("/assets/images/sixth-section.png") center no-repeat;
  border: 1px solid #ecc8c880;
  border-radius: 18px;
  height: 350px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}

.question {
  color: white;
  font: 300 12px/1.5em;
  font-family: 'poppins', serif;
  padding: 0 1em 0 1em;
}

.question-box-line {
  width: 18em;
  margin-right: 3em;
}

.above-footer {
  overflow: hidden;
  padding: 0 0 2em 0;
}

.above-footer-text {
  font: 800 17px/1.5em;
  overflow: hidden;
  font-family: 'poppins', serif;
  color: white;
  margin-top: 3em;
}

.above-footer-text-sub {
  font: 200 12px/1.5em;
  font-family: 'poppins', serif;
  color: white;
}

footer {
  padding-top: 2em;
}

.footer-logo {
  width: 10em;
  height: 2em;
}

.footer-intro-text {
  color: #cecece;
  font: 14px/1.5em;
  font-family: 'poppins', serif;
  text-align: center;
}

.footer-link {
  text-align: center;
  color: #c0c0c0;
  text-decoration: none;
  margin: 4em 0;
}

.footer-links-header {
  margin: 1em 0;
}

.footer-email {
  text-decoration: underline;
  text-decoration-color: white;
}

.footer-icons {
  display: flex;
  justify-content: space-evenly;
  margin: 1em 0;
}

.footer-icon {
  width: 1.6em;
  height: 1em;
}

.fourth-section-boxes,
.billing-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titles-and-descriptions {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.collect-organize {
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* TABLET VIEW */
@media screen and (min-width: 768px) {
  .homepage-img {
    height: 400px;
  }

  .home-page {
    height: 1700px;
  }

  .below-home-icons {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .collect-organize {
    display: grid;
  }

  .service-heading {
    text-align: left;
    font-size: 28px;
  }

  .bytedance-icon-container {
    grid-column: span 1;
  }

  .service-img {
    width: 600px;
    height: 400px;
    margin: 0 auto;
  }

  .third-section-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-top: 1px;
  }

  .fourth-section {
    padding: 0 2.5em;
  }

  .fourth-section-header {
    font-size: 30px;
  }

  .fourth-section-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
  }

  .personal-use-box,
  .design-inspirations-box,
  .research-box,
  .project-box {
    width: 10em;
  }

  .titles-and-descriptions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin: 0 30px;
  }

  .billing-plan-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    height: 1000px;
  }

  .box1-of-fifth {
    order: 1;
  }

  .box2-of-fifth {
    margin-top: -350px;
    height: 550px;
    padding: 0;
    order: 3;
    margin-bottom: -500px;
  }

  .box-2-content {
    margin-top: -80px;
  }

  .box3-of-fifth {
    order: 2;
  }

  .sixth-section {
    margin-top: -90px;
  }

  .sixth-section-header {
    margin-bottom: 10px;
  }

  .questions-box {
    width: 600px;
  }

  .question-box-line {
    width: 600px;
  }

  .question {
    font-size: 15px;
  }

  .above-footer-text {
    font-size: 22px;
  }

  .above-footer-text-sub {
    font-size: 18px;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
  }
}

/* DESKTOP VIEW */
@media screen and (min-width: 1024px) {
  .home-page {
    height: 1850px;
  }

  .nav-logo {
    width: 250px;
    height: 50px;
  }

  .menu-icon {
    display: none;
  }

  .nav-links {
    display: flex;
    font-family: 'poppins', serif;
    color: white;
  }

  .login {
    display: flex;
    font-family: 'poppins', serif;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6em 3em 0 3em;
  }

  .header-text {
    font-size: 50px;
    font-weight: 700;
  }

  .header-sub-text {
    font-size: 20px;
  }

  .homepage-img {
    width: 1000px;
    height: 600px;
    justify-self: center;
  }

  .homepage-buttons {
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
  }

  .github-button {
    margin-top: 0;
  }

  .below-home-text {
    font-size: 30px;
    margin: 0 3em;
  }

  .collect-organize {
    display: grid;
    margin: 0 3em;
    justify-content: center;
    gap: 1.5em;
  }

  .collect-button {
    grid-column: span 2;
    margin-bottom: 1em;
  }

  .service-img {
    height: 400px;
    width: 400px;
  }

  .service-heading {
    font-size: 45px;
    text-align: left;
  }

  .third-section-content {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 6em;
  }

  .free-trial-button,
  .github-button {
    width: 300px;
  }

  .section-header {
    margin: 20px 0 10px 0;
    font: 600 35px/1.5em;
    font-family: 'poppins', serif;
  }

  .fourth-section {
    padding: 0 3em;
  }

  .fourth-section-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .personal-use-box,
  .design-inspirations-box,
  .research-box,
  .project-box {
    width: 13em;
    height: 10em;
  }

  .text-header,
  .text-sub {
    text-align: left;
  }

  .bookmark-organization,
  .content-preservation,
  .easy-access,
  .seamless-collaboration {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .billing-plan-boxes {
    display: flex;
    height: 550px;
  }

  .box1-of-fifth {
    order: 1;
    width: 18em;
    margin-top: 1.5em;
  }

  .box2-of-fifth {
    order: 2;
    margin-top: -2em;
  }

  .box3-of-fifth {
    order: 3;
    width: 18em;
    height: 26em;
    margin-top: 1.5em;
  }

  .footer-intro-text {
    text-align: left;
  }

  .questions-box,
  .question-box-line {
    width: 100%;
  }

  .question {
    font: 20px/1.5em;
    font-family: 'poppins', serif;
  }

  .sixth-section {
    padding: 0 10em;
  }

  footer {
    margin-top: -35px;
  }
}
